svg { 
	/*border: solid black 1px; */
}

.bar rect { 
	fill: #ccc; 
}

.axis path { 
	fill: none; stroke: black;
}

.axis line { 
	stroke: black; 
}

.axis text { 
	font-size: x-small; 
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.checkboxtext{
  font-size: 1.3em;
  color:black;
}

.cb_pad{
	padding-bottom:10px;
}

.sAxis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.sAxis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.sAxis .sHalo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.sSlider .sHandle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 44px;					
    padding: 2px;				
    font: 12px sans-serif;		
    /*background: lightsteelblue;*/	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}