# jekyll For the gh-pages branch, we need to push the generated site so that we can access the pages from the www (git doesn't recognize the source command in _config.yml)

# project
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db