/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#slide-out li {
	padding: 0px;
}

#slide-out li:hover {
	background-color: rgba(0,0,0,0.05);
}
#slide-out li>a {
	padding: 0 30px;
}

#slide-out .collapsible-header {
	margin: 0 0rem;
}

#plantListCollapsible li {
	width:100%;
	padding: 0px;
	margin: 0px;
}

#plantListCollapsible li a {
	padding: 0 60px;
	margin: 0px;
}

.plantButton {
	width:100%;
	border:none;
	text-align:left;
	padding:0;
	padding-left:60px;
}

.plantButton:hover {
	background-color: rgba(0,0,0,0.05);
}

.tabs {
	overflow: hidden;
}

.tabs .tab a {
	color: #283593;
	opacity: 0.7;
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: #283593;
	opacity:1;
}

.tabs .indicator {
	background-color: #283593;
}

.tab-container {
	height:500px;
}
