  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Quienes Somos: OpenSourceWater</h5>
          <p class="grey-text text-lighten-4">En el mundo hay miles de millones de personas quienes viven con agua contaminada y saneamiento inadecuado. Los proyectos de desarrollo que tienen como objetivo solucionar este problema generalmente son muy costosos, logran muy poco y no están siendo documentados. WASH4ALL está buscando mejorar el acceso universal al agua y saneamiento mediante herramientas que permitan mostrar y ubicar las necesidades, quienes y cómo están trabajando para solventarlas y donde se están alcanzando las metas.</p>

        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Hecho por <a class="light-blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>



  </body>
</html>