<nav class="light-blue lighten-1" role="navigation">
  <a href="#" data-activates="nav-mobile" class="button-collapse"><img src="./img/ic_dehaze_2x.png" style="padding:5px;" alt="menu"/></a>
  <div class="nav-wrapper container"><a id="logo-container" href="./index.html" class="brand-logo" style="padding-left:30px;">OpenSourceWater</a>
    <ul class="right hide-on-med-and-down">
      {% include nav_list.html %}
    </ul>
    <ul id="nav-mobile" class="side-nav">
      {% include nav_list.html %}
    </ul>
  </div>
</nav>