{% assign current = page.url | downcase | split: '/' %}
<nav class="light-blue lighten-1" role="navigation">
  <a href="#" data-activates="nav-mobile" class="button-collapse"><img src="./img/ic_dehaze_2x.png" style="padding:5px;" alt="menu"/></a>
  <div class="nav-wrapper container"><a id="logo-container" href="./index.html" class="brand-logo" style="padding-left:30px;">OpenSourceWater</a>
    <ul class="right hide-on-med-and-down">
      <li {% if current[1] == 'index.html' %}class="active"{% endif %}><a href="./index.html">Gráficos</a></li>
      <li {% if current[1] == 'table.html' %}class="active"{% endif %}><a href="./table.html">Tablas</a></li>
      <li {% if current[1] == 'settings.html' %}class="active"{% endif %}><a href="./settings.html">Ajustes</a></li>
      <li {% if current[1] == 'rep.html' %}class="active"{% endif %}><a href="./rep.html">Informes</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li {% if current[1] == 'index.html' %}class="active"{% endif %}><a href="./index.html">Gráficos</a></li>
      <li {% if current[1] == 'table.html' %}class="active"{% endif %}><a href="./table.html">Tablas</a></li>
      <li {% if current[1] == 'settings.html' %}class="active"{% endif %}><a href="./settings.html">Ajustes</a></li>
      <li {% if current[1] == 'rep.html' %}class="active"{% endif %}><a href="./rep.html">Informes</a></li>
    </ul>
  </div>
</nav>